@import "../css/colors.styl"
.about-me
  position absolute
  top 0
  right 0px
  bottom 0
  left 0
  overflow hidden
  background-color c-pink
  color c-white
  display flex

  > *
    z-index 2

  &__poopan
    position absolute
    bottom 0
    left 0
    opacity 0.1
    z-index 1
    font-size 320px
    font-weight bold
    line-height 150px

  &__center
    margin 120px 200px

  &__detail
    max-width 640px
    width 90%
    margin 24px 26px
    font-family 'RobotoSlab'
    font-size 18px
    line-height 1.5

  &__header
    font-size 32px
    opacity 0.64

  &__next-navigator
    position absolute
    bottom 10px
    left 212px

  &__menu
    position absolute
    top 40px
    right 40px

  &__introduction
    position absolute
    right -136px
    top 20%
    color white
    opacity 0.1
