@import "../css/colors.styl"

.home
  &__bg
    position absolute
    top 20px
    right 132px
    bottom 20px
    left 20px
    display flex

  &__body
    position relative
    display flex
    flex-direction column
    align-items flex-start
    justify-content center
    padding-left 32px

  &__hello, &__occupation
    color c-dark-gray
    font-size 32px

  &__intro-myself
    padding 20px 0px 4px 0px
    font-size 72px

  &__my-name
    font-weight bold

  &__header
    position relative
    width 60%
    height 100%
    background-image url('./header-bw.jpg')
    background-size cover

    &:hover
      background-image url('./header.jpg')

  &__image
    width 100%

  &__navigator
    margin-top 40px

  &__buttons
    display inline-flex
    justify-content space-between
    margin-top 30px
    width 100%

    > *
      margin-top 10px
      margin-right 20px

.button
  padding 18px 20px 14px 20px
  border-radius 2px
  border solid 1px c-pink
  font-size 20px
  color c-pink
  white-space nowrap
  cursor pointer
  text-decoration none

.navigator
  display flex
  flex-direction column
  position relative

  &__arrow
    width 7px
    height 17px
    position absolute
    top 63px
    left 2px

  &__message
    font-family 'Montserrat', sans-serif
    transform rotate(90deg)
    position absolute
    top 15px
    left -23px
    font-size 12px
    white-space nowrap

.top-menu
  position absolute
  top 60px
  right 132px

  &__icon
    width 28px
    height 18px
    margin-right 12px
    vertical-align middle

.right-menu
  position absolute
  right 0
  top 0
  bottom 0
  display flex
  flex-direction column
  justify-content center
  padding 0 26px

  &__link
    cursor pointer
    margin-bottom 24px
