.app-layout
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden

  &__body
    position absolute
    top 0
    right 100px
    bottom 0
    left 0
    overflow hidden

  &__side-bar
    position absolute
    top 0
    right 0
    bottom 0
    width 100px

  &__navigator
    position absolute
    bottom 5px
    left 10px
