@import "../css/colors.styl"

.button
  padding 18px 20px 14px 20px
  border-radius 2px
  border solid 1px c-pink
  font-size 20px
  color c-pink
  white-space nowrap
  cursor pointer
  text-decoration none
