@import "../css/colors.styl"

.introduction
  color c-dark-gray
  
  &__hello, &__occupation
    font-size 32px

  &__intro-myself
    padding 20px 0px 4px 0px
    font-size 72px

  &__my-name
    font-weight bold
