@import "../css/colors.styl"

.job-period

  &__first-line
    font-size 16px
    color c-light-gray

  &__company
    color c-pink

  &__title
    margin-top 5px
    font-size 32px
    color c-gray

  &__detail
    font-family 'RobotoSlab'
    font-size 15px
    color c-gray
    line-height 1.5
