@import "../css/colors.styl"

.navigator
  display flex
  flex-direction column
  position relative
  cursor pointer

  &__arrow
    width 7px
    height 17px
    position absolute
    top 63px
    left 2px
    cursor pointer

  &__message
    font-family 'Montserrat', sans-serif
    transform rotate(90deg)
    position absolute
    top 15px
    left -23px
    font-size 12px
    white-space nowrap
    cursor pointer
