.period-list

  &__item
    display block
    padding-bottom 20px

  &__item-header
    font-weight bold
    font-size 18px

  &__item-sub-header
    font-size 16px

  &__item-additional-text
    font-family 'Montserrat', sans-serif
    font-size 14px
    letter-spacing normal
    padding-top 5px

    .spacing
      height 12px
