.period-list

  &__item
    display block
    padding-bottom 20px

  &__item-header
    font-weight bold

  &__item-sub-header
    font-size 10px

  &__item-additional-text
    font-size 12px
    padding-top 5px
