.period-list

  &__item
    display block
    padding-bottom 30px

  &__item-header
    font-weight bold

  &__item-sub-header
    font-size 10px

  &__item-additional-text
    font-family 'Montserrat', sans-serif
    font-size 16px
    letter-spacing normal
    padding-top 5px
