@import "../css/colors.styl"

.right-menu
  position absolute
  right 0
  top 0
  bottom 0
  display flex
  flex-direction column
  justify-content center
  padding 0 26px

  &__link
    cursor pointer
    margin-bottom 24px
