@import "../css/colors.styl"

.right-menu
  position absolute
  right 0
  top 0
  bottom 0
  left 10px
  display flex
  flex-direction column
  justify-content center
  align-items center

  &__link
    cursor pointer
    margin-bottom 24px
