@import "../style/animation.styl"

.water-fall
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(255, 255, 255, 0.7)

  &__item
    position absolute
    top 0
    opacity 0


@keyframes fall {
  from {
    top: 0%;
    opacity: 1;
  }

  to {
    top: 100%;
    opacity: 1;
  }
}
